<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sleep Tracker</a>
        <AuthorizeView>
            <Authorized>
                <div>
                    <span class="text-light me-3">@context.User.Identity?.Name</span>
                    <a href="/logout" class="btn btn-sm btn-danger">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div>
                    <a href="/login" class="btn btn-sm btn-secondary">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="track">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Daily Factors
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="results">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Results & Ranking
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin" Context="adminContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/users">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Management
                        </NavLink>
                    </div>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

