@page "/access-denied"

<PageTitle>Access Denied</PageTitle>

<div class="alert alert-warning">
    <h4>Access Denied</h4>
    <p>You don't have permission to access this page. Please login first.</p>
    <a href="/login" class="btn btn-primary">Go to Login</a>
</div>
